$prefix: 'bb-' !default;
$enable-negative-margins: true;

// Load Tabler functions first
@import "@tabler/core/src/scss/functions";

// Load Tabler variables
@import "@tabler/core/src/scss/variables";

// Load Tabler config
@import "@tabler/core/src/scss/config";



@import 'partials/core';
@import 'partials/image-picker';
@import 'partials/flags';
@import 'partials/notification';
@import 'partials/dashboard';
@import 'partials/custom';
@import 'partials/acl';
@import 'partials/loading';
@import 'partials/modal';
@import 'partials/navbar';
@import 'partials/setting';
@import 'partials/widget';
@import 'partials/dropzone';
@import 'partials/datetimepicker';
@import 'partials/rtl';
@import 'partials/ui-selector';
@import 'partials/form';
@import 'partials/global-search';

@import '@tabler/core/src/scss/vendor/coloris';

@import 'partials/variable';

@import 'partials/old-style';
