@import "@tabler/core/src/scss/config";
.flag {
    position: relative;
    display: inline-block;
    height: $avatar-size;
    aspect-ratio: 1.33333;
    background: no-repeat center/cover;
    border-radius: $flag-border-radius;
    vertical-align: bottom;

    &.flag-country-np {
        box-shadow: none;
        border-radius: 0;
    }
}
